# Maven
target/
!target/.gitkeep
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws

# IntelliJ IDEA
.idea/
*.iws
*.iml
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

